@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* بک‌گراند کل سایت */
  .bg-day-gradient {
    background: linear-gradient(to right,#58A0E0,#2D3BCF);
  }
  .bg-green-gradient {
    background: linear-gradient(to right,#00b09b,#38ef7d);
  }
  .bg-purple-gradient {
    background: linear-gradient(to right,#360064,#4A00E0);
  }
  .bg-pink-gradient {
    background: linear-gradient(to left,#FF6EB4,#FF1493);
  }
 

  /* بک‌گراند مخصوص Hero */
  .bg-hero-day {
    background: linear-gradient(to right, #35a8ff, #4541ba);
  }
  .bg-hero-green {
    background: linear-gradient(to right, #11998e, #38ef7d);
  }
  .bg-hero-purple {
    background: linear-gradient(to right, #302746, #6700ff);
  }
  .bg-hero-pink {
    background: linear-gradient(to right, #c8236b, #e470bf);
  }

}

@keyframes diagonal {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 20px); /* حرکت مورب: 50px راست و 50px پایین */
  }
}

.animate-diagonal {
  animation: diagonal 6s linear infinite alternate;
}



html, body, #root {
  @apply font-sans antialiased;
   margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  max-height: 900px;
  margin: 0 auto;


}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

  a:hover {
    color: #747bff;
  }
  
}

/* index.css */



